.action-element {
	cursor: pointer;
	outline: none;
}

.list-group-item .action-icon {
  display: none;
}

.list-group-item:hover {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.list-group-item:hover .action-icon {
  display: inline;
}

.list-group-item a {
  color: black;
}

.list-group-item a:hover {
  text-decoration: none;
  color: white;
}


.badge-info {
  color: #31708f !important;
  background-color: #d9edf7 !important;
  border-color: #bce8f1 !important;
}

.badge-success {
  color: #3c763d !important;
  background-color: #dff0d8 !important;
  border-color: #d6e9c6 !important;
}